// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icons
@import '~/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~/@fortawesome/fontawesome-free/scss/solid';

// Datatable
@import '~/datatables.net-bs5/css/dataTables.bootstrap5.min';

// Vue select
@import 'vue-select/dist/vue-select.css';

// View styles
@import 'category';
@import 'product';

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(238, 240, 245);
}

a {
	text-decoration: none;
}

// a tags that include content inside to redirect to another view
.content-link {
	text-decoration: none;
	color: black;
}
